#vaccine-card{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 20px;

    .card{

        // min-width: 300px;
        max-width: 450px;
        width: 100%;
        height: fit-content;
        min-height: 100px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title{
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-top: 10px;
            border: none;
        }

        .active{
            color: #4bda4b;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            background-color: #fff;
        }
        .not-active{
            color: #da4b4b;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }

        .make-user-active-btn{
            width: fit-content;
            padding: 7px 10px;
            background-color: #2dc72d;
            color: white;
            margin-top: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            box-sizing: border-box;
            margin-bottom: 7px;

            &:hover{
                background-color: #058105;
            }
        }

        
        form{
            width: 100%;
            table{
                border-collapse: collapse;
                margin-top: 20px;
                box-sizing: border-box;
                width: 100%;
    
                th, td{
                    border: none;
                    padding: 5px;
                    font-size: 14px;
                    font-family: Arial, Helvetica, sans-serif;
                    padding-bottom: 10px;
                    box-sizing: border-box;
    
                    input, textarea{
                        width: 100%;
                        padding: 10px;
                        border: 1px solid #dfdfdf;
                        border-radius: 5px;
                        box-sizing: border-box;
                        cursor: pointer;
                    }
    
                    select{
                        width: 100%;
                        padding: 10px;
                        border: 1px solid #dfdfdf;
                        border-radius: 5px;
                        box-sizing: border-box;
                        cursor: pointer;
                    }

                    input[name="email"]{
                        cursor: not-allowed;
                    }
                    input[name="id"]{
                        cursor: not-allowed;
                    }
                }

                .key{
                    font-weight: bold;
                    padding-right: 30px;
                }
    
                th{
                    background-color: #f2f2f2;
                }
            }  
            
            .update-btn{
                width: 100%;
                margin-top: 20px;
                padding: 10px 20px;
                background-color: #007bff;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                box-sizing: border-box;
                margin-bottom: 7px;

                &:hover{
                    background-color: #0056b3;
                }
                
            }

            .close-btn{
                width: 100%;
                padding: 10px 20px;
                border: 1px solid #f57852;
                color: rgb(34, 34, 34);
                border-radius: 5px;
                cursor: pointer;
                box-sizing: border-box;
                background-color: transparent;

                &:hover{
                    background-color: #c7c7c7;
                }
            }
            
        }
    }
}