#vaccine{
    .add-cattle{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem 0;
        cursor: pointer;
        
        div{
            display: flex;
            align-items: center;
            justify-content: center;

            p{
                font-size: 1rem;
                color: #48a3ee;
                cursor: pointer;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            .icon{
                font-size: 1.5rem;
                color: #48a3ee;
                cursor: pointer;
                margin-right: 0.5rem;
            }

            &:hover p, &:hover .icon{
                color: #1128f8;
            }
            
        }

        
    }
}